@import url(./reset.css);

:root {
  --app-dark-bg: #1a1d28;
  --app-green: #33ab4e;
  --app-purple: #833cff;
  --app-orange: #ff833c;
  --app-blue: #3c57ff;
  --app-blue-hover: #364ee6;
  --app-red: #ff3c57;
  --app-red-hover: #ff2846;
  --app-white:#fff;
  --app-gray:#575555;
  --app-pink:#f09;
}

body {
  background: #fff url("../image/backgroundimage.jpg") center 
  center / cover no-repeat fixed;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
  text-align: center;
  max-height: 300px;
}

h2 {
  font-size: 90px;
  color: var(--app-orange);
  font-weight: 5000;
  letter-spacing: 0.2px;
  line-height: 60px;
  font-family: Delicious Handrawn;
  margin-top: 200px;
  margin-bottom: 60px;
}

h2 span {
  color: var(--app-purple);
  font-size: 140px;
}

/* center
*/

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.playground {
  display: none;
}

.playboard p {
  margin-top: 30px;
  font-size: 60px;
  color: var(--app-orange);
}

.playboard p span {
  color: var(--app-purple);
  font-size: 120px;
}

.playboard input {
  margin-top: 30px;
  padding: 10px;
  background-color: var(--app-orange);
  color: var(--app-white);
  letter-spacing: 1px;
  padding: 20px;
  display: block;
  margin-left: 20px;
  width: 280px;
  height: 75px;
  border-radius: 30px;
  font-size: 42px;
  font-weight: 600;
  transition:  all 0.25s ease-in-out;
  cursor: pointer;
}

input::placeholder {
  color: #ebeef0;
}

.scoreboard {
  color: #ebeef0;
  margin: 20px 280px;
  display: flex;
  font-size: 32px;
  justify-content: space-between;
}

.result {
  margin: 15px;
  padding: 5px;
  width: 100%;
  height: 50px;
  border: solid 3px white;
  border-radius: 20px;
}

/*button */

button  {
  margin-top: 60px;
  margin-right: 26px;
  padding: 5px;
  width: 20%;
  height: 75px;
  border-radius: 30px;
  font-size: 38px;
  color: #fff;
  font-weight: 800;
  letter-spacing: 5px;
  transition:  all 0.25s ease-in-out;
  cursor: pointer;
  background-color: var(--app-orange);
}

button:hover {
  background-color: var(--app-blue-hover);
  translate: 0px -15px;
}


/*figure
*/

figure img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  animation-name: jump;
  animation-duration: 5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  max-width: 100%;
}
@keyframes jump {
  0% {
    height: 300px;
    left: 20%;
    transform: translateX(-50%) translateY(0%);
  }

  20% {
    height: 300px;
    left: 20%;
    transform: translateX(-50%) translateY(-80%);
  }

  40% {
    height: 300px;
    left: 20%;
    transform: translateX(-50%) translateY(0%);
  }

  60% {
    height: 300px;
    left: 20%;
    transform: translateX(-50%) translateY(-80%);
  }

  80% {
    height: 300px;
    left: 20%;
    transform: translateX(-50%) translateY(0%);
  }

  100% {
    height: 300px;
    left: 20%;
    transform: translateX(-50%) translateY(-80%);
  }
}

/*play
*/
.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.result-container.hidden {
  display: none;
}

.result-container p {
  color: var(--app-purple);
  margin: 10px 30px;
  font-size: 42px;
}

#submit-button {
  display: none;
}
/*responsive design*/

@media (max-width:480px) {
  img {
    width: 50%;
  }
  h2 {
    font-size: 38px;
  }
  h2 span {
    font-size: 42px;
  }
  button {
    width: 25%;
    height: 50px;
    font-size: 30px;
  }
  p {
    font-size: 22px;
  }
  .playboard p  {
    font-size: 55px;
  }
  #word {
    font-size: 65px;
  }
  input {
    width: 120px;
  }

  .result-container h2 {
    font-size: 32px;
  }
  .result-container > p {
    width: 100%;
    font-size: 16px;
  }
}

@media (max-width:768px) {
  img {
    width: 50%;
  }
  h2 {
    font-size: 38px;
  }
  h2 span {
    font-size: 42px;
  }
  
  p {
    font-size: 22px;
  }
  .playboard p  {
    font-size: 55px;
  }
  #word {
    font-size: 65px;
  }
  input {
    width: 120px;
  }

  .result-container h2 {
    font-size: 42px;
  }
  .result-container > p {
    width: 100%;
    font-size: 20px;
  }
}

@media (max-width:1200px) {
  img {
    width: 40%;
  }
  h2 {
    font-size: 38px;
  }
  h2 span {
    font-size: 42px;
  }
  
  p {
    font-size: 22px;
  }
  .playboard p  {
    font-size: 55px;
  }
  #word {
    font-size: 65px;
  }
  input {
    width: 120px;
  }

  .result-container h2 {
    font-size: 42px;
  }
  .result-container > p {
    width: 100%;
    font-size: 26px;
  }
}

@media (min-width:1201px) {
  
}

dialog {
  color: #fff;
  text-align: center;
  margin: auto 0 auto auto;
  padding: 30px;
  height: 100%;
  width: 300px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}
